<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 >Stay alert!</h1>
        <br>
        <p>The <a target="_blank" href="{{ url_for('impact', scroll='history') }}"><i>IMPACT</i></a> proyect owner will contact you soom as posible!</p>
        <br>
        <h3 >Thank you very much!</h3>
        <br>
        <hr>
        <br>
    </div>
</body>
</html>